*{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card__item{
    width: 20%;
    min-height: 30vh;
    height: 30vh;
    box-shadow: 0 0.5px 1px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5% 0;
}

.card__container{
    width: 80%;
    height: 99vh;
    padding: 1%;
    gap: 1%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

img{
    object-fit:contain;
    /* max-width: inherit;
    max-height: inherit; */
    width: 85%;
    height: 60%;
    /* align-self: center;
    align-content: center; */
}

.card__nome{
    font-size: 1.5rem;
}

.card__preco{
    font-size: 1.5rem;
}

h1{
    text-align: center;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}